/.classpath
/.project
/.settings/org.eclipse.jdt.apt.core.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/bin/ValidateCodeBlocks_TCs.txt
/bin/ValidateCodeBlocks_TCs_Expected.txt
/bin/com/mydemo/A.class
/bin/com/mydemo/AA.class
/bin/com/mydemo/AccountCheck.class
/bin/com/mydemo/Algorithm.class
/bin/com/mydemo/B.class
/bin/com/mydemo/BB.class
/bin/com/mydemo/BankAccount$account_type.class
/bin/com/mydemo/BankAccount.class
/bin/com/mydemo/C.class
/bin/com/mydemo/CC.class
/bin/com/mydemo/CannotInstantiate.class
/bin/com/mydemo/ClassWithProtectedMethod.class
/bin/com/mydemo/CodeScenariosAskedInInterviews.class
/bin/com/mydemo/DD.class
/bin/com/mydemo/DataSorter.class
/bin/com/mydemo/Employee.class
/bin/com/mydemo/EmployeeComparator.class
/bin/com/mydemo/Father.class
/bin/com/mydemo/FieldMapper.class
/bin/com/mydemo/FieldMapperExample.class
/bin/com/mydemo/GenericSuper$Amphibian.class
/bin/com/mydemo/GenericSuper$Animal.class
/bin/com/mydemo/GenericSuper$Anthropod.class
/bin/com/mydemo/GenericSuper$Bird.class
/bin/com/mydemo/GenericSuper$Fish.class
/bin/com/mydemo/GenericSuper$HumanBeing.class
/bin/com/mydemo/GenericSuper$Mammal.class
/bin/com/mydemo/GenericSuper$Organism.class
/bin/com/mydemo/GenericSuper$Reptile.class
/bin/com/mydemo/GenericSuper.class
/bin/com/mydemo/HelloService.class
/bin/com/mydemo/ISomeInterface.class
/bin/com/mydemo/InheritedClassWithProtectedMethod.class
/bin/com/mydemo/LambdaDemo.class
/bin/com/mydemo/LinesProcMap.class
/bin/com/mydemo/Main.class
/bin/com/mydemo/MySingleTonClass.class
/bin/com/mydemo/MySingleton.class
/bin/com/mydemo/MySingletonManager.class
/bin/com/mydemo/MySingletonManagerClass.class
/bin/com/mydemo/MySubClass.class
/bin/com/mydemo/MySuperClass.class
/bin/com/mydemo/OuterClass$MyStaticClass.class
/bin/com/mydemo/OuterClass.class
/bin/com/mydemo/Person.class
/bin/com/mydemo/ServiceLauncher.class
/bin/com/mydemo/SimulateAndFailSingleton.class
/bin/com/mydemo/SomeClass.class
/bin/com/mydemo/SomeImpl.class
/bin/com/mydemo/Son.class
/bin/com/mydemo/StreamsJava8.class
/bin/com/mydemo/SubDefault.class
/bin/com/mydemo/SuperAbstract.class
/bin/com/mydemo/SurvivalGame.class
/bin/com/mydemo/Teller.class
/bin/com/mydemo/TestSomething$1.class
/bin/com/mydemo/TestSomething$10.class
/bin/com/mydemo/TestSomething$11.class
/bin/com/mydemo/TestSomething$12.class
/bin/com/mydemo/TestSomething$13.class
/bin/com/mydemo/TestSomething$14.class
/bin/com/mydemo/TestSomething$15.class
/bin/com/mydemo/TestSomething$16.class
/bin/com/mydemo/TestSomething$17.class
/bin/com/mydemo/TestSomething$18.class
/bin/com/mydemo/TestSomething$19.class
/bin/com/mydemo/TestSomething$1ABean.class
/bin/com/mydemo/TestSomething$1DeadlockExample.class
/bin/com/mydemo/TestSomething$1Employee.class
/bin/com/mydemo/TestSomething$1EmployeeKey.class
/bin/com/mydemo/TestSomething$1MultiInherit.class
/bin/com/mydemo/TestSomething$1MyQueue.class
/bin/com/mydemo/TestSomething$1MyStack.class
/bin/com/mydemo/TestSomething$1NoClass.class
/bin/com/mydemo/TestSomething$1PersonName.class
/bin/com/mydemo/TestSomething$1SomeSyncronizedClass.class
/bin/com/mydemo/TestSomething$1Stack.class
/bin/com/mydemo/TestSomething$1Test1.class
/bin/com/mydemo/TestSomething$1Test2.class
/bin/com/mydemo/TestSomething$1Vendor.class
/bin/com/mydemo/TestSomething$2.class
/bin/com/mydemo/TestSomething$20.class
/bin/com/mydemo/TestSomething$2EmployeeKey.class
/bin/com/mydemo/TestSomething$3.class
/bin/com/mydemo/TestSomething$4.class
/bin/com/mydemo/TestSomething$5.class
/bin/com/mydemo/TestSomething$6.class
/bin/com/mydemo/TestSomething$7.class
/bin/com/mydemo/TestSomething$8.class
/bin/com/mydemo/TestSomething$9.class
/bin/com/mydemo/TestSomething$AnotherInterfaceWithDefaultImplementation.class
/bin/com/mydemo/TestSomething$BalaceValidValues.class
/bin/com/mydemo/TestSomething$BreakSingletonByCloning.class
/bin/com/mydemo/TestSomething$City.class
/bin/com/mydemo/TestSomething$ClassWithNoExplicitDefaultConstructor.class
/bin/com/mydemo/TestSomething$CloneNotSupporting.class
/bin/com/mydemo/TestSomething$ErrorCode.class
/bin/com/mydemo/TestSomething$GenericArrayOps$Direction.class
/bin/com/mydemo/TestSomething$GenericArrayOps.class
/bin/com/mydemo/TestSomething$HashCodeTest.class
/bin/com/mydemo/TestSomething$HomeBuyer.class
/bin/com/mydemo/TestSomething$HomeOwner.class
/bin/com/mydemo/TestSomething$Interface1.class
/bin/com/mydemo/TestSomething$Interface2.class
/bin/com/mydemo/TestSomething$InterfaceWithDefaultImplementation.class
/bin/com/mydemo/TestSomething$LogType.class
/bin/com/mydemo/TestSomething$LoginQueueUsingSemaphore.class
/bin/com/mydemo/TestSomething$MonitorTimeComplexity.class
/bin/com/mydemo/TestSomething$MupltipleIntf.class
/bin/com/mydemo/TestSomething$MyFunctionalInterface.class
/bin/com/mydemo/TestSomething$MyLinkedList.class
/bin/com/mydemo/TestSomething$MyMath.class
/bin/com/mydemo/TestSomething$MyRunnable.class
/bin/com/mydemo/TestSomething$MySubDefault.class
/bin/com/mydemo/TestSomething$MySuperAbstract.class
/bin/com/mydemo/TestSomething$PerformOperation.class
/bin/com/mydemo/TestSomething$RefEscapeDemo.class
/bin/com/mydemo/TestSomething$RefEscapeOtherClass.class
/bin/com/mydemo/TestSomething$Resource.class
/bin/com/mydemo/TestSomething$SAMInterface.class
/bin/com/mydemo/TestSomething$SortingAlgos.class
/bin/com/mydemo/TestSomething$State.class
/bin/com/mydemo/TestSomething$StringIterator.class
/bin/com/mydemo/TestSomething$SubClassWithInheritedDefaultConstructor$1.class
/bin/com/mydemo/TestSomething$SubClassWithInheritedDefaultConstructor.class
/bin/com/mydemo/TestSomething$Subclass1WithEquals.class
/bin/com/mydemo/TestSomething$Subclass2WithoutEquals.class
/bin/com/mydemo/TestSomething$SuperClassWithGenericEquals.class
/bin/com/mydemo/TestSomething$VolatileChanger.class
/bin/com/mydemo/TestSomething.class
/bin/com/mydemo/TestSuper.class
/bin/com/mydemo/ValidateCodeBlocks$StringIterator.class
/bin/com/mydemo/ValidateCodeBlocks.class
/bin/com/mydemo/codechallenges/BestProfitableStockSale.class
/bin/com/mydemo/codechallenges/ReverseLinesInFile.class
/bin/com/mydemo/codechallenges/Solution.class
/bin/com/mydemo/common/GenericConstants$Gender.class
/bin/com/mydemo/common/GenericConstants.class
/bin/com/mydemo/designpatterns/ConsoleLogger.class
/bin/com/mydemo/designpatterns/DBLogger.class
/bin/com/mydemo/designpatterns/DecoraterPattern.class
/bin/com/mydemo/designpatterns/DummyLogger.class
/bin/com/mydemo/designpatterns/FileLogger.class
/bin/com/mydemo/designpatterns/ILogger.class
/bin/com/mydemo/designpatterns/Incrementer.class
/bin/com/mydemo/designpatterns/obs/Inventory.class
/bin/com/mydemo/designpatterns/obs/InventoryObserver.class
/bin/com/mydemo/designpatterns/obs/InventoryObserverImpl.class
/bin/com/mydemo/designpatterns/obs/SimulateProductOOS.class
/bin/com/mydemo/designpatterns/observer/Book$AVAILABILITY_STATUS.class
/bin/com/mydemo/designpatterns/observer/Book.class
/bin/com/mydemo/designpatterns/observer/BookObserver.class
/bin/com/mydemo/designpatterns/observer/BookReader.class
/bin/com/mydemo/designpatterns/observer/SimulateLibrary.class
/bin/com/mydemo/dsa/BinaryTreeOPs.class
/bin/com/mydemo/dummy/ClassInstantiableFromWithinPackageOnly.class
/bin/com/mydemo/dummy/DummyOuterClass$ClassWithProtectedDefaultConstructor.class
/bin/com/mydemo/dummy/DummyOuterClass.class
/bin/com/mydemo/dummy/YetAnotherInheritedClassWithProtectedMethod.class
/bin/com/mydemo/dummy/somepackage/ClassWithProtectedMethod.class
/bin/com/mydemo/employees.txt
/bin/com/mydemo/functional/Employee.class
/bin/com/mydemo/functional/FunctionalList.class
/bin/com/mydemo/functional/Java8StreamsExample$IntReduceOps.class
/bin/com/mydemo/functional/Java8StreamsExample.class
/bin/com/mydemo/functional/MyFileReader.class
/bin/com/mydemo/headfirstoops/DogDoor.class
/bin/com/mydemo/headfirstoops/Remote.class
/bin/com/mydemo/headfirstoops/SimulateDougDoor.class
/bin/com/mydemo/jaxb/Channel.class
/bin/com/mydemo/jaxb/Config.class
/bin/com/mydemo/jaxb/Scheduler.class
/bin/com/mydemo/jaxb/Task.class
/bin/com/mydemo/jaxb/TestJAXB.class
/bin/com/mydemo/multithreading/MultipleUnintentionalThreads.class
/bin/com/mydemo/multithreading/SomeTask.class
/bin/com/mydemo/reactivex/HelloReactiveX.class
/bin/wsclient/HelloClient.class
/bin/wsclient/HelloService.class
/bin/wsclient/HelloServiceService.class
/target/classes/META-INF/MANIFEST.MF
/target/classes/META-INF/maven/myRnD/myRnD/pom.properties
/target/classes/META-INF/maven/myRnD/myRnD/pom.xml
/target/classes/com/mydemo/A.class
/target/classes/com/mydemo/AA.class
/target/classes/com/mydemo/AccountCheck.class
/target/classes/com/mydemo/Algorithm.class
/target/classes/com/mydemo/B.class
/target/classes/com/mydemo/BB.class
/target/classes/com/mydemo/BankAccount$account_type.class
/target/classes/com/mydemo/BankAccount.class
/target/classes/com/mydemo/C.class
/target/classes/com/mydemo/CC.class
/target/classes/com/mydemo/CannotInstantiate.class
/target/classes/com/mydemo/ClassWithProtectedMethod.class
/target/classes/com/mydemo/CodeScenariosAskedInInterviews.class
/target/classes/com/mydemo/DD.class
/target/classes/com/mydemo/DataSorter.class
/target/classes/com/mydemo/Employee.class
/target/classes/com/mydemo/EmployeeComparator.class
/target/classes/com/mydemo/Father.class
/target/classes/com/mydemo/FieldMapper.class
/target/classes/com/mydemo/FieldMapperExample.class
/target/classes/com/mydemo/GenericSuper$Amphibian.class
/target/classes/com/mydemo/GenericSuper$Animal.class
/target/classes/com/mydemo/GenericSuper$Anthropod.class
/target/classes/com/mydemo/GenericSuper$Bird.class
/target/classes/com/mydemo/GenericSuper$Fish.class
/target/classes/com/mydemo/GenericSuper$HumanBeing.class
/target/classes/com/mydemo/GenericSuper$Mammal.class
/target/classes/com/mydemo/GenericSuper$Organism.class
/target/classes/com/mydemo/GenericSuper$Reptile.class
/target/classes/com/mydemo/GenericSuper.class
/target/classes/com/mydemo/HelloService.class
/target/classes/com/mydemo/ISomeInterface.class
/target/classes/com/mydemo/InheritedClassWithProtectedMethod.class
/target/classes/com/mydemo/LambdaDemo.class
/target/classes/com/mydemo/LinesProcMap.class
/target/classes/com/mydemo/Main.class
/target/classes/com/mydemo/MySingleTonClass.class
/target/classes/com/mydemo/MySingleton.class
/target/classes/com/mydemo/MySingletonManager.class
/target/classes/com/mydemo/MySingletonManagerClass.class
/target/classes/com/mydemo/MySubClass.class
/target/classes/com/mydemo/MySuperClass.class
/target/classes/com/mydemo/OuterClass$MyStaticClass.class
/target/classes/com/mydemo/OuterClass.class
/target/classes/com/mydemo/Person.class
/target/classes/com/mydemo/ServiceLauncher.class
/target/classes/com/mydemo/SimulateAndFailSingleton.class
/target/classes/com/mydemo/SomeClass.class
/target/classes/com/mydemo/SomeImpl.class
/target/classes/com/mydemo/Son.class
/target/classes/com/mydemo/StreamsJava8.class
/target/classes/com/mydemo/SubDefault.class
/target/classes/com/mydemo/SuperAbstract.class
/target/classes/com/mydemo/SurvivalGame.class
/target/classes/com/mydemo/Teller.class
/target/classes/com/mydemo/TestSomething$1.class
/target/classes/com/mydemo/TestSomething$10.class
/target/classes/com/mydemo/TestSomething$11.class
/target/classes/com/mydemo/TestSomething$12.class
/target/classes/com/mydemo/TestSomething$13.class
/target/classes/com/mydemo/TestSomething$14.class
/target/classes/com/mydemo/TestSomething$15.class
/target/classes/com/mydemo/TestSomething$16.class
/target/classes/com/mydemo/TestSomething$17.class
/target/classes/com/mydemo/TestSomething$18.class
/target/classes/com/mydemo/TestSomething$19.class
/target/classes/com/mydemo/TestSomething$1ABean.class
/target/classes/com/mydemo/TestSomething$1DeadlockExample.class
/target/classes/com/mydemo/TestSomething$1Employee.class
/target/classes/com/mydemo/TestSomething$1EmployeeKey.class
/target/classes/com/mydemo/TestSomething$1MultiInherit.class
/target/classes/com/mydemo/TestSomething$1MyQueue.class
/target/classes/com/mydemo/TestSomething$1MyStack.class
/target/classes/com/mydemo/TestSomething$1NoClass.class
/target/classes/com/mydemo/TestSomething$1PersonName.class
/target/classes/com/mydemo/TestSomething$1SomeSyncronizedClass.class
/target/classes/com/mydemo/TestSomething$1Stack.class
/target/classes/com/mydemo/TestSomething$1Test1.class
/target/classes/com/mydemo/TestSomething$1Test2.class
/target/classes/com/mydemo/TestSomething$1Vendor.class
/target/classes/com/mydemo/TestSomething$2.class
/target/classes/com/mydemo/TestSomething$20.class
/target/classes/com/mydemo/TestSomething$2EmployeeKey.class
/target/classes/com/mydemo/TestSomething$3.class
/target/classes/com/mydemo/TestSomething$4.class
/target/classes/com/mydemo/TestSomething$5.class
/target/classes/com/mydemo/TestSomething$6.class
/target/classes/com/mydemo/TestSomething$7.class
/target/classes/com/mydemo/TestSomething$8.class
/target/classes/com/mydemo/TestSomething$9.class
/target/classes/com/mydemo/TestSomething$AnotherInterfaceWithDefaultImplementation.class
/target/classes/com/mydemo/TestSomething$BalaceValidValues.class
/target/classes/com/mydemo/TestSomething$BreakSingletonByCloning.class
/target/classes/com/mydemo/TestSomething$City.class
/target/classes/com/mydemo/TestSomething$ClassWithNoExplicitDefaultConstructor.class
/target/classes/com/mydemo/TestSomething$CloneNotSupporting.class
/target/classes/com/mydemo/TestSomething$ErrorCode.class
/target/classes/com/mydemo/TestSomething$GenericArrayOps$Direction.class
/target/classes/com/mydemo/TestSomething$GenericArrayOps.class
/target/classes/com/mydemo/TestSomething$HashCodeTest.class
/target/classes/com/mydemo/TestSomething$HomeBuyer.class
/target/classes/com/mydemo/TestSomething$HomeOwner.class
/target/classes/com/mydemo/TestSomething$Interface1.class
/target/classes/com/mydemo/TestSomething$Interface2.class
/target/classes/com/mydemo/TestSomething$InterfaceWithDefaultImplementation.class
/target/classes/com/mydemo/TestSomething$LogType.class
/target/classes/com/mydemo/TestSomething$LoginQueueUsingSemaphore.class
/target/classes/com/mydemo/TestSomething$MonitorTimeComplexity.class
/target/classes/com/mydemo/TestSomething$MupltipleIntf.class
/target/classes/com/mydemo/TestSomething$MyFunctionalInterface.class
/target/classes/com/mydemo/TestSomething$MyLinkedList.class
/target/classes/com/mydemo/TestSomething$MyMath.class
/target/classes/com/mydemo/TestSomething$MyRunnable.class
/target/classes/com/mydemo/TestSomething$MySubDefault.class
/target/classes/com/mydemo/TestSomething$MySuperAbstract.class
/target/classes/com/mydemo/TestSomething$PerformOperation.class
/target/classes/com/mydemo/TestSomething$RefEscapeDemo.class
/target/classes/com/mydemo/TestSomething$RefEscapeOtherClass.class
/target/classes/com/mydemo/TestSomething$Resource.class
/target/classes/com/mydemo/TestSomething$SAMInterface.class
/target/classes/com/mydemo/TestSomething$SortingAlgos.class
/target/classes/com/mydemo/TestSomething$State.class
/target/classes/com/mydemo/TestSomething$StringIterator.class
/target/classes/com/mydemo/TestSomething$SubClassWithInheritedDefaultConstructor$1.class
/target/classes/com/mydemo/TestSomething$SubClassWithInheritedDefaultConstructor.class
/target/classes/com/mydemo/TestSomething$Subclass1WithEquals.class
/target/classes/com/mydemo/TestSomething$Subclass2WithoutEquals.class
/target/classes/com/mydemo/TestSomething$SuperClassWithGenericEquals.class
/target/classes/com/mydemo/TestSomething$VolatileChanger.class
/target/classes/com/mydemo/TestSomething.class
/target/classes/com/mydemo/TestSuper.class
/target/classes/com/mydemo/ValidateCodeBlocks$StringIterator.class
/target/classes/com/mydemo/ValidateCodeBlocks.class
/target/classes/com/mydemo/codechallenges/BestProfitableStockSale.class
/target/classes/com/mydemo/codechallenges/ReverseLinesInFile.class
/target/classes/com/mydemo/codechallenges/Solution.class
/target/classes/com/mydemo/common/GenericConstants$Gender.class
/target/classes/com/mydemo/common/GenericConstants.class
/target/classes/com/mydemo/designpatterns/ConsoleLogger.class
/target/classes/com/mydemo/designpatterns/DBLogger.class
/target/classes/com/mydemo/designpatterns/DecoraterPattern.class
/target/classes/com/mydemo/designpatterns/DummyLogger.class
/target/classes/com/mydemo/designpatterns/FileLogger.class
/target/classes/com/mydemo/designpatterns/ILogger.class
/target/classes/com/mydemo/designpatterns/Incrementer.class
/target/classes/com/mydemo/designpatterns/obs/Inventory.class
/target/classes/com/mydemo/designpatterns/obs/InventoryObserver.class
/target/classes/com/mydemo/designpatterns/obs/InventoryObserverImpl.class
/target/classes/com/mydemo/designpatterns/obs/SimulateProductOOS.class
/target/classes/com/mydemo/designpatterns/observer/Book$AVAILABILITY_STATUS.class
/target/classes/com/mydemo/designpatterns/observer/Book.class
/target/classes/com/mydemo/designpatterns/observer/BookObserver.class
/target/classes/com/mydemo/designpatterns/observer/BookReader.class
/target/classes/com/mydemo/designpatterns/observer/SimulateLibrary.class
/target/classes/com/mydemo/dsa/BinaryTreeOPs.class
/target/classes/com/mydemo/dummy/ClassInstantiableFromWithinPackageOnly.class
/target/classes/com/mydemo/dummy/DummyOuterClass$ClassWithProtectedDefaultConstructor.class
/target/classes/com/mydemo/dummy/DummyOuterClass.class
/target/classes/com/mydemo/dummy/YetAnotherInheritedClassWithProtectedMethod.class
/target/classes/com/mydemo/dummy/somepackage/ClassWithProtectedMethod.class
/target/classes/com/mydemo/functional/Employee.class
/target/classes/com/mydemo/functional/FunctionalList.class
/target/classes/com/mydemo/functional/Java8StreamsExample$IntReduceOps.class
/target/classes/com/mydemo/functional/Java8StreamsExample.class
/target/classes/com/mydemo/functional/MyFileReader.class
/target/classes/com/mydemo/headfirstoops/DogDoor.class
/target/classes/com/mydemo/headfirstoops/Remote.class
/target/classes/com/mydemo/headfirstoops/SimulateDougDoor.class
/target/classes/com/mydemo/jaxb/Channel.class
/target/classes/com/mydemo/jaxb/Config.class
/target/classes/com/mydemo/jaxb/Scheduler.class
/target/classes/com/mydemo/jaxb/Task.class
/target/classes/com/mydemo/jaxb/TestJAXB.class
/target/classes/com/mydemo/multithreading/MultipleUnintentionalThreads.class
/target/classes/com/mydemo/multithreading/SomeTask.class
/target/classes/com/mydemo/reactivex/HelloReactiveX$1.class
/target/classes/com/mydemo/reactivex/HelloReactiveX$2.class
/target/classes/com/mydemo/reactivex/HelloReactiveX$3.class
/target/classes/com/mydemo/reactivex/HelloReactiveX.class
/target/classes/wsclient/HelloClient.class
/target/classes/wsclient/HelloService.class
/target/classes/wsclient/HelloServiceService.class
/target/maven-archiver/pom.properties
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/myRnD-0.0.1-SNAPSHOT.jar
*.class
*.lst
/target/surefire-reports/com.mydemo.headfirstoops.urbanrailroutemapper.UrbanRailRouteMapperTest.txt
